/* --------- This is CSS Reset Code --------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* --------- Begin your CSS Below here --------- */

header {
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: white;
	background-color: #db7534;
	width: 100%;
	height: 60px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.headerTitle {
	margin: 1.5%;
}

.navStyles {
	display: flex;
}

.headerLinkOne {
	position: relative;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-right: 1rem;
}

.headerLinkTwo {
	text-decoration: none;
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	color: white;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
    width: 7rem;
}

.headerLinkOne:hover {
	text-decoration-color: #e0a47e;
	text-emphasis: none;
	text-decoration: none;
}

.headerLinkTwo:hover {
	text-decoration-color: #e0a47e;
	text-emphasis: none;
	text-decoration: none;
}

.adBanner {
	height: 400px;
	display: flex;
    justify-content: center;
}

.newRecipeHeader {
	font-family: 'Montserrat', sans-serif;
	font-size: large;
	font-weight: 700;
	color: white;
	text-align: center;
	margin-top: 2rem;
}

.pineappleSalmonHeader {
	font-family: 'Inter', sans-serif;
	font-size: xx-large;
	font-weight: 600;
	color: #db7534;
	text-align: center;
	margin-top: 3rem;
}

.recipeDescription {
	font-family: 'Montserrat', sans-serif;
	font-size: large;
	font-weight: 400;
	color: white;
	text-align: center;
	margin-top: 2rem;
	overflow: break-word;
	width: 35rem
}

.bannerButton {
	display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
	margin-top: 1rem;
}


.blue-btn {
	background-color: #578a8b;
	align-items: center;
	color: white;
	width: 100px;
    height: 35px;
	border: none;
	font-size: medium;
	cursor: pointer;
}

.recipesBlock {
	height: 550px;
	display: flex;
    justify-content: center;
}

.recipeInputDiv {
	display: flex;
	justify-content: center;
    flex-direction: column;
    align-items: center;
}

.searchbar {
	margin-top: 2rem;
	width: 25rem;
    background-color: #fbd4bb;
    border-radius: 20px;
    border: none;
    font-size: medium;
	display: flex;
}

.recipeInput {
	height: 2rem;
	margin-left: 9px;
	background-color: #fbd4bb;
	border-radius: 20px;
	border: none;
	font-size: medium;
}

.belowInputDiv {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.recipeCardBlock {
	display: flex;
    justify-content: center;
	margin-top: 4rem;
	align-content: center;
}

.recipeCard {
	overflow: hidden;
    box-shadow: 0 1px 15px darkgray;
    border-radius: radius;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-color: white;
	width: 20rem;
    height: 27rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.recipeCardImg {
	height: 18rem;
    width: 100%;
    object-fit: cover;
}

.cardTitle {
    background-color: white;
    padding: 1rem;
	font-family: 'Montserrat', sans-serif;
	font-size: large;
	display: flex;
	justify-content: center;
}

.cardButton {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin: 1rem;
    background-color: #578a8b;
    cursor: pointer;
	color: white;
	width: 100px;
    height: 35px;
	border: none;
	align-items: center;
	margin-left: 110px;
}

.detailTitle {
	font-family: 'Inter', sans-serif;
	font-size: 50px;
	font-weight: 600;
	color: #db7534;
	align-items: center;
	display: flex;
	justify-content: center;
}

.detailScreenContainer {
	width: 100%;
	height: 550px;
	display: flex;
    justify-content: center;
}

.detailCardContainer {
	display: flex;
	margin-top: 2rem;

}

.detailRecipeCard {
    box-shadow: 0 1px 10px darkgray;
    display: flex;
    flex-direction: column;
    background-color: white;
	width: 20rem;
    height: 27rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.detailH2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	font-size:x-large;
	margin-top: 1rem;
}

.deatailH4 {
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	margin: .2rem;
	text-indent: 8px;
	margin-top: 6px;
}

.deataiInstructions {
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	margin: .8rem;
}

.instructionCard {
    box-shadow: 0 1px 10px darkgray;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background-color: white;
	width: 25rem;
    height: 30rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.newRecipeBlock {
	font-family: 'Montserrat', sans-serif;
	height: 760px;
	/* display: flex; */
}

.newRecipeH1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	margin-top: 2rem;
	font-size: x-large;
}

.newRecipeForm {
	display: flex;
	flex-direction: column;
    /* justify-content: center; */
	margin-top: 2rem;
	align-items: center;
	gap: 30px;
}

.inputContainer {
	width: 100px;
	display: flex;
    flex-direction: row;
    justify-content: center;
	gap: 2rem;
	align-items: center;
}

.inputContainer1 {
	height: 25px;
	font-size: medium;
}

.inputContainer2 {
	display: flex;
	width: 6rem;
	height: 25px;
	font-size: medium;
}

.radioInput {
	display: flex;
	flex-direction: row;
    transform: scale(1.5);
	cursor: pointer;
}

.radioH5 {
	display: flex;
	gap: 2px;
}

.radioContainer {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 25px;
}

.radioContainer span{
	display: flex;
	align-items: baseline;
	gap: 5px;
}

.ingredientInput {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.ingredientInput1 {
	height: 25px;
	font-size: medium;
	display: flex;
	justify-content: flex-start;
}

.listContainer {
	width: 170px;
	font-size: 15px
}

.textArea {
	font-family: 'Montserrat', sans-serif;
	font-size: medium;
	width: 300px;
}

.submitButton {
	background-color: #578a8b;
	align-items: center;
	color: white;
	width: 100px;
    height: 35px;
	border: none;
	font-size: medium;
	cursor: pointer;
}

.addButton {
	background-color: #db7534;
	align-items: center;
	color: white;
	width: 110px;
    height: 35px;
	border: none;
	font-size: medium;
	cursor: pointer;
}

footer {
	background-color: #3e3e3e;
	width: 100%;
	height: 150px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	align-items: center;
	position: absolute;
}

.footerMessage {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.iconContainer {
	display: flex;
}

.socialIcon {
	background-color: #538484;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-align: center;
    justify-content: center;
	margin-top: 1rem;
	/* margin-right: 0.5rem */
	transform: scale(.65);
}

.svgStyles {
	margin-right: 2rem;
}
